<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiqu.system.mapper.basicData.CorporationMapper">
    <resultMap id="BaseResultMap" type="com.feiqu.system.model.basicData.Corporation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="corporation_name" jdbcType="VARCHAR" property="corporationName"/>
        <result column="valuation" jdbcType="VARCHAR" property="valuation"/>
        <result column="valuation_date" jdbcType="VARCHAR" property="valuationDate"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="industry" jdbcType="VARCHAR" property="industry"/>
        <result column="link" jdbcType="VARCHAR" property="link"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, corporation_name, valuation, valuation_date, country, industry, link
  </sql>
    <select id="selectByExample" parameterType="com.feiqu.system.model.basicData.CorporationExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from corporation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from corporation
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from corporation
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.feiqu.system.model.basicData.CorporationExample">
        delete from corporation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.feiqu.system.model.basicData.Corporation">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into corporation (corporation_name, valuation, valuation_date,
        country, industry, link
        )
        values (#{corporationName,jdbcType=VARCHAR}, #{valuation,jdbcType=VARCHAR}, #{valuationDate,jdbcType=VARCHAR},
        #{country,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.feiqu.system.model.basicData.Corporation">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into corporation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corporationName != null">
                corporation_name,
            </if>
            <if test="valuation != null">
                valuation,
            </if>
            <if test="valuationDate != null">
                valuation_date,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="industry != null">
                industry,
            </if>
            <if test="link != null">
                link,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corporationName != null">
                #{corporationName,jdbcType=VARCHAR},
            </if>
            <if test="valuation != null">
                #{valuation,jdbcType=VARCHAR},
            </if>
            <if test="valuationDate != null">
                #{valuationDate,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="industry != null">
                #{industry,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                #{link,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.feiqu.system.model.basicData.CorporationExample"
            resultType="java.lang.Long">
        select count(*) from corporation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update corporation
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.corporationName != null">
                corporation_name = #{record.corporationName,jdbcType=VARCHAR},
            </if>
            <if test="record.valuation != null">
                valuation = #{record.valuation,jdbcType=VARCHAR},
            </if>
            <if test="record.valuationDate != null">
                valuation_date = #{record.valuationDate,jdbcType=VARCHAR},
            </if>
            <if test="record.country != null">
                country = #{record.country,jdbcType=VARCHAR},
            </if>
            <if test="record.industry != null">
                industry = #{record.industry,jdbcType=VARCHAR},
            </if>
            <if test="record.link != null">
                link = #{record.link,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update corporation
        set id = #{record.id,jdbcType=INTEGER},
        corporation_name = #{record.corporationName,jdbcType=VARCHAR},
        valuation = #{record.valuation,jdbcType=VARCHAR},
        valuation_date = #{record.valuationDate,jdbcType=VARCHAR},
        country = #{record.country,jdbcType=VARCHAR},
        industry = #{record.industry,jdbcType=VARCHAR},
        link = #{record.link,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.feiqu.system.model.basicData.Corporation">
        update corporation
        <set>
            <if test="corporationName != null">
                corporation_name = #{corporationName,jdbcType=VARCHAR},
            </if>
            <if test="valuation != null">
                valuation = #{valuation,jdbcType=VARCHAR},
            </if>
            <if test="valuationDate != null">
                valuation_date = #{valuationDate,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="industry != null">
                industry = #{industry,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                link = #{link,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.feiqu.system.model.basicData.Corporation">
    update corporation
    set corporation_name = #{corporationName,jdbcType=VARCHAR},
      valuation = #{valuation,jdbcType=VARCHAR},
      valuation_date = #{valuationDate,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>