<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
    <li class="layui-nav-item"><a href="${ctxPath}/admin/index"><i class="layui-icon layui-icon-home"></i>后台管理首页</a></li>
    <li class="layui-nav-item"><a class="menuItem" href="${ctxPath}/monitor/druidData"><i class="layui-icon layui-icon-list"></i>druid监控</a></li>
    <li class="layui-nav-item"><a class="menuItem" href="${ctxPath}/monitor/server"><i class="layui-icon layui-icon-list"></i>服务监控</a></li>
    <li class="layui-nav-item"><a class="menuItem" href="${ctxPath}/blackList/manage"><i
            class="layui-icon layui-icon-list"></i>简单管理</a></li>
    <li class="layui-nav-item"><a class="menuItem" href="${ctxPath}/websocket/manage"><i
            class="layui-icon layui-icon-list"></i>在线聊天管理</a></li>
</ul>
<div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>