<div class="fly-footer c-opacity-white-background">
    <div class=""><a href="https://www.f2qu.com/">飞趣社区</a> 2017 ©
        <a target="_blank" href="http://www.beian.miit.gov.cn">苏ICP备17066471号-1</a>
        <a target="_blank" href="http://www.beian.miit.gov.cn">苏ICP备17066471号-2</a>
    </div>
    <div>
        <a href="http://m.f2qu.com">移动版</a>
        <a href="https://www.f2qu.com">PC版</a>
    </div>
    <%if(ENV == 'prod'){%>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1278137327'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/z_stat.php%3Fid%3D1278137327%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    <%}%>
</div>