<li class="layui-col-sm3 layui-col-xs4"> <a href="/thought/"><i class="layui-icon layui-icon-light"></i><cite>想法</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/websiteDir"><i class="layui-icon">&#xe615;</i><cite>网址导航</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"><a href="/hotTopic/"><i class="layui-icon layui-icon-praise"></i><cite>热点</cite></a></li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/fqNews"><i class="layui-icon">&#xe705;</i><cite>看看新闻</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"><a href="/note/"><i class="layui-icon layui-icon-read"></i><cite>笔记</cite></a></li>
<li class="layui-col-sm3 layui-col-xs4"><a href="/bookmark/"><i class="layui-icon layui-icon-note"></i><cite>书签</cite></a></li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/superGeek"><i class="layui-icon">&#xe705;</i><cite>知识达人</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/theme/index"><i class="layui-icon">&#xe62e;</i><cite>社区</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/beauty/index"><i class="layui-icon">&#xe661;</i><cite>美颜达人</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/music"><i class="layui-icon">&#xe6fc;</i><cite>音乐馆</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/fqDoutuCloud"><i class="layui-icon layui-icon-camera"></i><cite>斗图广场</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/movie"><i class="layui-icon layui-icon-water"></i><cite>电影资源</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/wallPaper"><i class="layui-icon layui-icon-water"></i><cite>壁纸</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/weather"><i class="layui-icon layui-icon-water"></i><cite>天气</cite></a> </li>
<li class="layui-col-sm3 layui-col-xs4"><a href="/taobaoProduct/"><i class="layui-icon layui-icon-water"></i><cite>优惠券</cite></a></li>
<li class="layui-col-sm3 layui-col-xs4"> <a href="/cloud"><i class="layui-icon layui-icon-fire"></i><cite>云服务</cite></a> </li>