<%include("/common/_head.html"){}%>
<div class=" fly-marginTop ">
    <div class="c-panel fly-panel-user detail-box">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md12">
                <div class="layui-row">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">用户昵称</label>
                                <div class="layui-input-inline" style="width: 150px;">
                                    <input name="nickname" placeholder="用户昵称" class="layui-input">
                                </div>
                                <label class="layui-form-label">用户id</label>
                                <div class="layui-input-inline" style="width: 150px;">
                                    <input name="userId" placeholder="用户id" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">用户账号</label>
                                <div class="layui-input-inline" style="width: 150px;">
                                    <input name="username" placeholder="用户账号" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="searchTable">
                            <button class="layui-btn" lay-filter="fqUserForm" lay-submit>搜索</button>
                        </div>
                    </form>
                </div>
                <table class="layui-hide" id="userManage" lay-filter="user"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
                </script>
            </div>
        </div>
    </div>
</div>
<%include("/common/_scripts.html",{}){}%>
<script>
    layui.use(['table', 'fly', 'form','laydate'], function () {
        var table = layui.table, fly = layui.fly, form = layui.form, device = layui.device(),laydate=layui.laydate;
        form.on('submit(fqUserForm)', function (data) {
            var field = data.field;
            table.reload('userReload', {
                page: {
                    curr: 1
                }
                , where: {
                    nickname: data.field.nickname,
                    userId: data.field.userId,
                    username: data.field.username,
                }
            });
            return false;
        });
        table.render({
            elem: '#userManage'
            , url: '/front/user/manage/list'
            , toolbar: true
            , title: '用户数据表'
            , totalRow: true
            , cols: [[
                {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true},
                {field: 'nickname', title: '昵称', width: 100, fixed: 'left',  sort: true},
                {field: 'username', title: '用户账号', width: 120, fixed: 'left',  sort: true},
                {field: 'createTime', title: '创建时间', width: 100, fixed: 'left',  sort: true},
                {field: 'birth', title: '生日', width: 120, fixed: 'left',  sort: true},
                {field: 'status', title: '状态', width: 80, fixed: 'left',  sort: true},
                {field: 'role', title: '角色', width: 80, fixed: 'left',  sort: true},
                {field: 'isMailBind', title: '邮箱绑定', width: 80, fixed: 'left',  sort: true},
                {field: 'city', title: '城市', width: 100, fixed: 'left',  sort: true},
                {field: 'createIp', title: 'IP', width: 100, fixed: 'left',  sort: true},
                {field: 'qudouNum', title: '趣豆', width: 80, fixed: 'left',  sort: true},
                {field: 'level', title: '等级', width: 80, fixed: 'left',  sort: true},
                {field: 'sign', title: '签名', width: 120, fixed: 'left',  sort: true},
                {fixed: 'right', width: 120, align: 'center', toolbar: '#barDemo'}
            ]]
            , page: true
            , response: {
                statusCode: '0000',
                msgName: 'message'
            }
            , id: 'userReload'
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.message,
                    "count": res.data.total,
                    "data": res.data.list
                };
            }
        });
        //监听工具条
        table.on('tool(user)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                location.href = 'https://www.f2qu.com/u/' + data.id + '';
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 1
                    , id: 'fq_fqFriendLink'
                    , title: '编辑用户'
                    , area: (device.ios || device.android) ? ($(window).width() + 'px') : '660px'
                    , content: ['<ul class="layui-form" style="margin: 20px;">'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">用户昵称</label>'
                        , '<div class="layui-input-block">'
                        , '<input required name="nickname" lay-verify="required" placeholder="用户昵称" value="' + data.nickname + '" class="layui-input">'
                        , '<input type="hidden" name="id" value="' + data.id + '">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">用户账号</label>'
                        , '<div class="layui-input-block">'
                        , '<input required name="username" lay-verify="required" placeholder="用户账号" value="' + data.username + '" class="layui-input">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">用户角色</label>'
                        , '<div class="layui-input-block">'
                        , '<input required name="role" lay-verify="required" placeholder="用户角色 0 1 2 3 4 5" value="' + data.role + '" class="layui-input">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">用户状态</label>'
                        , '<div class="layui-input-block">'
                        , '<input required name="status"  placeholder="用户状态（0 正常 1 删除 2 冻结）" value="' + data.status + '" class="layui-input">'
                        , '</div>'
                        , '</li>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">用户等级</label>'
                        , '<div class="layui-input-block">'
                        , '<input required name="level"  placeholder="用户等级" value="' + data.level + '" class="layui-input">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">生日</label>'
                        , '<div class="layui-input-block">'
                        , '<input id="birth" required name="birth"  placeholder="生日" value="' + data.birth + '" class="layui-input">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<label class="layui-form-label">用户签名</label>'
                        , '<div class="layui-input-block">'
                        , '<input required name="sign"  placeholder="用户签名" value="' + data.sign + '" class="layui-input">'
                        , '</div>'
                        , '</li>'
                        , '<li class="layui-form-item">'
                        , '<div class="layui-input-block">'
                        , '<button type="button" lay-submit lay-filter="fqUser" class="layui-btn">保存</button>'
                        , '</div>'
                        , '</li>'
                        , '</ul>'].join('')
                    , success: function (layero, index) {
                        laydate.render({
                            elem:'#birth'
                        })
                        form.on('submit(fqUser)', function (data) {
                            fly.json('/front/user/manage/save', data.field, function (res) {
                                layer.close(index);
                                layer.msg('保存成功！', {
                                    icon: 1
                                })
                            });
                            return false;
                        })
                    }
                });
            }
        });
    });
</script>
</html>