.select-list li select {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    outline: none;
    height: 30px;
    width: 200px;
}
.select-list li {
    float: left;
}
.top-navigation.mini-navbar #page-wrapper, .top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper, .mini-navbar .top-navigation #page-wrapper, .body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper, .canvas-menu #page-wrapper {
    margin: 0;
}
body:not(.fixed-sidebar ):not(.canvas-menu ).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
}

.canvas-menu.mini-navbar .nav-second-level {
    background: #293846;
}

body.canvas-menu .profile-element {
    display: block;
}

body:not(.fixed-sidebar ):not(.canvas-menu ).mini-navbar .nav-second-level {
    display: none;
}

body:not(.fixed-sidebar ):not(.canvas-menu ).mini-navbar .nav-second-level {
    display: none;
}

body.mini-navbar .profile-element, body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span {
    display: none;
}

.fixed-sidebar.mini-navbar .nav li:hover > .nav-second-level, .fixed-sidebar.mini-navbar .nav li:hover > a > span.nav-label {
    position: absolute;
    left: 70px;
    display: block;
    min-width: 140px;
    border-radius: 2px;
}

.fixed-sidebar.mini-navbar .nav li:hover > .nav-second-level {
    top: 40px;
    font-size: 12px;
    background-color: #2f4050;
}

.fixed-sidebar.mini-navbar .nav li:hover > a > span.nav-label {
    top: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: #243747;
    border-bottom: dashed 1px #fff;
}

.sidebar-collapse .user-panel > .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.sidebar-collapse .user-panel > .info a {
    color: #fff;
    font-size: 12px;
}

.sidebar-collapse .user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 9px;
    color: #fff;
    font-size: 12px;
}
.nav .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    height: 60px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden
}

body .navbar-static-side {
    position: fixed;
    width: 200px;
    z-index: 2001;
    height: 100%;
    background-color: #2f4050;
}
.arrow {
    float: right;
    margin-top: 2px;
}
.nav li>a {
    display: block;
    white-space: nowrap;
}
.sidebar-collapse .user-panel {
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
.nav-close {
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.4em;
    cursor: pointer;
    z-index: 10;
    display: none;
    color: rgba(255, 255, 255, .3);
}
.sidebar-collapse .user-panel .image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
body.mini-navbar .navbar-static-side {
    width: 70px;
}
.nav>li>a {
    position: relative;
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}
.nav-second-level li a {
    padding: 7px 15px 7px 10px;
    padding-left: 52px;
}
.nav-third-level li a {
    padding-left: 62px;
}
.fa.arrow:before {
    content: "\f104";
}
.active>a>.fa.arrow:before {
    content: "\f107";
}


.gray-bg {
    background-color: #f3f3f4;
}
.container-div {
    padding: 0 28px;
    height: 100%;
}
.container-div .row {
    height: 100%;
}
body.mini-navbar .nav-bar-side {
    width: 70px;
}
body.mini-navbar #page-wrapper {
    margin: 0 0 0 70px;
}

.m {
    margin: 15px;
}

.search-collapse, .select-table {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.search-collapse {
    position: relative;
}

.search-collapse .col-sm-6 .control-label {
    color: #333;
}

.bootstrap-tree-table .treetable-bars .tool-left {
    float: left;
}

.bootstrap-tree-table .treetable-bars .tool-left, .bootstrap-tree-table .treetable-bars .tool-right {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bootstrap-tree-table .treetable-bars .tool-right {
    float: right;
}

.bootstrap-tree-table .treetable-bars .tool-left, .bootstrap-tree-table .treetable-bars .tool-right {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bootstrap-tree-table .treetable-table {
    border: 0 !important;
    margin-bottom: 0;
}

.table-striped .table, .fixed-table-container, table, .table-striped .table, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 1px solid #e7eaec !important;
    background-color: transparent !important;
    border: 0px;
}

.bootstrap-tree-table .treetable-table thead, .treetable-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-striped table thead {
    background-color: #eff3f8;
}

.bootstrap-tree-table .treetable-bars .tool-right {
    float: right;
}

.bootstrap-tree-table .treetable-bars .tool-left, .bootstrap-tree-table .treetable-bars .tool-right {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bootstrap-tree-table .treetable-indent {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.white-bg {
    background-color: #ffffff;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

html, body {
    height: 100%;
}

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.page-tabs a i {
    color: #ccc;
    margin-left: 2px;
    font-size: 13px;
}
#content-main {
    height: calc(100% - 150px);
    overflow: hidden;
    margin-left: 0px;
}

.navbar {
    background-color: #3c8dbc;
}

.layui-nav {
    margin-bottom: 0;
}

.content-tabs {
    position: relative;
    height: 42px;
    background: #fafafa;
    line-height: 40px;
}

.content-tabs .roll-left {
    left: 0;
    border-right: solid 1px #eee;
}

.content-tabs .roll-nav, .page-tabs-list {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #999;
    z-index: 2;
    top: 0;
}

.content-tabs button {
    background: #fff;
    border: 0;
    height: 40px;
    width: 40px;
    outline: none;
}

.content-tabs .roll-right {
    right: 0;
    border-left: solid 1px #eee;
}

nav.page-tabs {
    margin-left: 40px;
    width: 100000px;
    height: 40px;
    overflow: hidden;
}

.page-tabs a:hover, .content-tabs .roll-nav:hover {
    color: #777;
    background: #f2f2f2;
    cursor: pointer;
}

.page-tabs a.active {
    background: #eaedf1;
    color: #23508e;
}

nav.page-tabs .page-tabs-content {
    float: left;
}

.page-tabs a {
    display: block;
    float: left;
    border-right: solid 1px #eee;
    padding: 0 15px;
}

.page-tabs a.active:hover, .page-tabs a.active i:hover {
    background: #eaedf1;
    color: #23508e;
}

.roll-right.tabReload {
    background: #fff;
    height: 40px;
    width: 60px;
    outline: none;
}

.list-group-striped > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.ibox-title-gray {
    height: 41px;
    background-color: #f0f3f4;
    color: #333;
    font-weight: 700;
    border-radius: 2px 2px 0 0;
    padding: 13px !important;
    border-bottom: 1px solid #eee;
    display: block;
    clear: both;
}

#content-main.max {
    height: calc(100% - 110px);
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 9998;
    margin: 0;
}

/** 首页样式 **/
.ax_close_max {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 9999;
    display: none;
    color: #ccc;
}

body.canvas-menu nav.navbar-static-side {
    z-index: 2001;
    background: #2f4050;
    height: 100%;
    position: fixed;
    display: none;
}

@media ( max-width: 768px) {
    body.fixed-sidebar .navbar-static-side {
        display: none;
    }

    body.fixed-sidebar.mini-navbar .navbar-static-side {
        width: 70px;
    }

    .lock-word {
        display: none;
    }

    .navbar-form-custom {
        display: none;
    }

    .navbar-header {
        display: inline;
        float: left;
    }

    .sidebard-panel {
        z-index: 2;
        position: relative;
        width: auto;
        min-height: 100% !important;
    }

    .sidebar-content .wrapper {
        padding-right: 0px;
        z-index: 1;
    }

    .fixed-sidebar.body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: fixed;
        width: 220px;
    }

    .fixed-sidebar.body-small.mini-navbar .navbar-static-side {
        display: block;
    }

    .ibox-tools {
        float: none;
        text-align: right;
        display: block;
    }

    .content-tabs {
        display: none;
    }

    #content-main {
        height: calc(100% - 100px);
    }

    .fixed-nav #content-main {
        height: calc(100% - 38px);
    }
}