<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiqu.system.mapper.mainData.FqUserAuthMapper">
  <resultMap id="BaseResultMap" type="com.feiqu.system.model.FqUserAuth">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="AUTHED_USER_ID" jdbcType="INTEGER" property="authedUserId" />
    <result column="AUTH_TIME" jdbcType="TIMESTAMP" property="authTime" />
    <result column="DEL_FLAG" jdbcType="INTEGER" property="delFlag" />
    <result column="AUTH_TYPE" jdbcType="INTEGER" property="authType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USER_ID, AUTHED_USER_ID, AUTH_TIME, DEL_FLAG, AUTH_TYPE
  </sql>
  <select id="selectByExample" parameterType="com.feiqu.system.model.FqUserAuthExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fq_user_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fq_user_auth
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fq_user_auth
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.feiqu.system.model.FqUserAuthExample">
    delete from fq_user_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.feiqu.system.model.FqUserAuth">
    insert into fq_user_auth (ID, USER_ID, AUTHED_USER_ID, 
      AUTH_TIME, DEL_FLAG, AUTH_TYPE
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{authedUserId,jdbcType=INTEGER}, 
      #{authTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, #{authType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feiqu.system.model.FqUserAuth">
    insert into fq_user_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="authedUserId != null">
        AUTHED_USER_ID,
      </if>
      <if test="authTime != null">
        AUTH_TIME,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="authType != null">
        AUTH_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="authedUserId != null">
        #{authedUserId,jdbcType=INTEGER},
      </if>
      <if test="authTime != null">
        #{authTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="authType != null">
        #{authType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.feiqu.system.model.FqUserAuthExample" resultType="java.lang.Long">
    select count(*) from fq_user_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fq_user_auth
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.authedUserId != null">
        AUTHED_USER_ID = #{record.authedUserId,jdbcType=INTEGER},
      </if>
      <if test="record.authTime != null">
        AUTH_TIME = #{record.authTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.authType != null">
        AUTH_TYPE = #{record.authType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fq_user_auth
    set ID = #{record.id,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      AUTHED_USER_ID = #{record.authedUserId,jdbcType=INTEGER},
      AUTH_TIME = #{record.authTime,jdbcType=TIMESTAMP},
      DEL_FLAG = #{record.delFlag,jdbcType=INTEGER},
      AUTH_TYPE = #{record.authType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.feiqu.system.model.FqUserAuth">
    update fq_user_auth
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="authedUserId != null">
        AUTHED_USER_ID = #{authedUserId,jdbcType=INTEGER},
      </if>
      <if test="authTime != null">
        AUTH_TIME = #{authTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="authType != null">
        AUTH_TYPE = #{authType,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feiqu.system.model.FqUserAuth">
    update fq_user_auth
    set USER_ID = #{userId,jdbcType=INTEGER},
      AUTHED_USER_ID = #{authedUserId,jdbcType=INTEGER},
      AUTH_TIME = #{authTime,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=INTEGER},
      AUTH_TYPE = #{authType,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>